/*
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
	Starting here
*/

.WHISP span {
    background-color: #880088;
}

.SERVER span {
    background-color: #880000;
}

.GENERAL span {
	background-color: #333333;
}

.ME span {
	background-color: #888888;
}

.ERROR span {
	background-color: #000088;
}

.btn {
	padding: 0px;
	border-radius: 0px;
}

.list .text {
	background-color: white;
	width: 60%;
	text-align: left;
	padding-left: 5%;
	color: grey;
}

.collection .collection-item {
	padding: 0px;
}

.room, .username {
	width: 20%;
}

ul {
	list-style: none;
}

#data {
	width: 80%;
	margin-left: 5%;
}

#datasend i {
	height: 100%;
	margin-right: 5%;
	margin-left: 0;
	margin-top: 5%;
	color: #ee6e73;
}

#data:focus, #data:hover {
	border-bottom: 1px solid #ee6e73;
	box-shadow: 0 1px 0 0 #ee6e73;
	/*color: #ee6e73;*/
}

input[type=text]:focus:not([readonly])+label {
	color: #ee6e73;
}

.input-field {
    position: fixed;
    margin-top: 1rem;
    bottom: 0;
    width: 100%;
}

.collection {
	margin-bottom: 10%;
}

nav .brand-logo.center {
	line-height: 55px;
}